/* Import Fonts */
@font-face {
    font-family: "Antonio";
    src: url("../fonts/Antonio-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Cocogoose Pro";
    src: url("../fonts/Cocogoose-Pro-Letterpress-Trial.woff"),
    url("../fonts/Cocogoose-Pro-Block-Shadow-black-Trial.woff") format("woff"),
    url("../fonts/Cocogoose\ Pro\ Block\ Shadow-black\ Trial.ttf") format("ttf");
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3{
    font-family: "Antonio";
    font-weight: 400;
    font-size: 16px;
    color: #4C3260;
    text-transform: uppercase;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
}

h3::after, h3:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: currentColor;
    top: 0.6em;
    display: block;
}

h3::before{
    left: 510px;
}

h3::after{
    right: 510px;
}

.container__other h3::before{
    left: 550px;
}

.container__other h3::after{
    right: 550px;
}

.container__burguers h3::before{
    left: 540px;
}

.container__burguers h3::after{
    right: 540px;
}

p.comercial__title{
    font-family: "Cocogoose Pro";
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #FFFBFB;
    -webkit-text-stroke: 1px #4C3260;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px #4C3260;
}

.container__header{
    background-color: #FFF9EE;
}

.container__combo{
    background: url('../images/banner-combo.svg') bottom left no-repeat,
    url('../images/banner-combo-2.svg') bottom right no-repeat;
    background-color: #FFF9EE;
    display: block;
    min-height: 200px;
    border-radius: 0px 0px 40px 40px;
    padding: 150px 17% 150px;
}

.container__burguers{
    background: url('../images/banner-combo.svg') bottom left no-repeat,
    url('../images/banner-combo-2.svg') top right no-repeat;
    background-color: #FFF;
    display: block;
    min-height: 200px;
    border-radius: 0px 0px 40px 40px;
    padding: 150px 17% 150px;
}

.container__other{
    background-color: #FFF;
    display: block;
    min-height: 200px;
    border-radius: 0px 0px 40px 40px;
    padding: 50px 17% 150px;
}

.container__header__banner{
    background: url('../images/banner.svg') no-repeat;
    width: 100%;
    min-height: 390px;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 40px 40px;
}

.container__header__menu{
    position: absolute;
    top: 0;
    padding: 10px 120px;
}

.container__header__menu img{
    height: auto;
    width: 120px;
}

.cart__layout{
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 100px;
    z-index: 100;
    width: 350px;
    height: auto;
    padding: 16px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.cart__layout button{
    background-color: #F01C4F;
    border-radius: 8px;
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
}

.cart__layout button .fa-shopping-bag, .fa-shopping-cart{
    float: left;
}

.cart__layout button .totalPrice, .totalPrice{
    float: right;
}

.container__list{
    display: inline-block;
}

.card{
    background-color: #fff;
    min-height: 270px;
    width: 265px;
    margin: 42px 48px 0px 0px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 25px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.container__section{
    display: flex;
}

.size__section{
    max-width: 20%;
}

.flavor__section{
    max-width: 80%;
}

.toppings__section{
    max-width: 100%;
}

.content-card{
    padding: 16px;
    min-width: 228px;
}

.content-card .title{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
}

.content-card .details{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6C707B;
    text-align: left;
}

.price__btn{
    width: 108px;
    padding: 10px 30px;
    background-color: #EFF0F2;
    color: #8E8E9A;
    border-radius: 4px;
    margin-top: 15px;
    float: left;
}

.price__btn strong{
    color: #000;
    font-weight: normal;
}

.Select__btn{
    cursor: pointer;
    width: 115px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #5AD88C;
    color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    float: left;
}

.overlay{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, #000000 100%);
    backdrop-filter: blur(20px);
}

.overlayDetail{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, #000000 100%);
    backdrop-filter: blur(20px);
}

.modal__cart{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.get__order{
    background-color: #fff;
    position: absolute;
    width: 549px;
    height: 25px;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
    bottom: 0;
    left: 34.6%;
    display: block;
}

.scroll__prop{
    height: inherit;
    padding: 0px 10px 0px 19px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    margin: auto;
    margin-top: 52px;
}

.get__order .btn-finalize{
    color: #fff;
    background: #5AD88C;
    border-radius: 8px;
    width: 100%;
    border-radius: 4px;
    padding: 8px 12px;
    margin: auto;
    display: block;
    cursor: pointer;
}

.card__details{
    background-color: transparent;
    margin: auto;
    min-height: 350px;
    width: 580px;
    margin-top: -18px;
    display: block;
}

.empty-message{
    background-color:#fff;
    padding-bottom: 50px;
    border-radius: 8px;
}

.empty-message p{
    font-size: 18px;
    text-align: center;
}

.empty-message button{
    color: #fff;
    background-color: #F01C4F;
    border-radius: 4px;
    padding: 8px 12px;
    margin: auto;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}

.empty-message h1{
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 10px;
}

.empty-message .alert-icon{
    font-size: 90px;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px
}

.out-icon{
    position: absolute;
    font-size: 22px;
    right: 33%;
    top: 20px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.detail__cart_order{
    background-color: #fff;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 25px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
}

.detail__cart_order:last-child {
    margin-bottom: 150px;
}

.divider{
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 17px;
    width: 93%;
    margin-left: 3%;
}

.body__form{
    display: flex;
    margin-bottom: 10px;
}

.detail__cart_order form{
    width: 100%;
    display: block;
    padding: 0px 20px 20px;
}

.detail__cart_order form label{
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 30px;    
    width: 75px;
}


.header--order{
    display: flex;
    width: 100%;
}

.title-section{
    padding: 15px 17px;
    font-size: 16px;
}

.extra__section{
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.detail__cart_order .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.detail__cart_order .price__btn{
    width: 56px;
    height: 34px;
    padding: 10px 7px;
    background-color: #EFF0F2;
    color: #8E8E9A;
    border-radius: 4px;
    margin-top: 15px;
    float: left;
    font-size: 12px;
}

.detail__cart_order .actions__buttons{
    display: flex;
    min-width: 165px;
}

.detail__cart_order .remove__btn{
    width: 85px;
    height: 34px;
    padding: 10px 7px;
    background-color: #F01C4F;
    color: #FFF;
    border-radius: 4px;
    margin-top: 15px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.detail__cart_order img{
    height: 110px;
    width: 150px;
    object-fit: cover;
    margin-top: -1px;
    border-radius:8px 0px 0px 0px;
}

.checkbox, .radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input, .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.check-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.checkbox:hover input ~ .check,
.radio:hover input ~ .check-radio {
    border: 2px solid #F01C4F;
}

.checkbox input:checked ~ .check,
.radio input:checked ~ .check-radio{
    background-color: #F01C4F;
    border:1px solid #F01C4F;
}

.check:after, .check-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .check:after, 
.radio input:checked ~ .check-radio:after
{
    display: block;
}

.checkbox .check:after, .radio .check-radio:after{
    left: 5px;
    top: 2px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.big-price{
    color: #6c707b;
    font-size: 10px;
}

footer{
    background-color: #000;
    width:100%;
    height: 153px;
    display: block;
}

footer .logo{
    position: relative;
    text-align: center;
    padding-top: 40px;
}

@media (max-width: 900px) {
    .cart__layout {
        right: 18px;
        width: 50%;
    }

    .logo{
        position: absolute;
        left: 10px;
    }

    .container__header__menu img {
        width: 100px;
    }

    .container__header__banner{
        background: url('../images/banner-movile.svg') no-repeat;
        width: 100%;
        height: 320px;
        background-size: cover;
        background-position: center;
    }
    
    h3::after, h3:before{
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: currentColor;
        top: 0.6em;
        display: block;
    }
    
    h3::before{
        left: 50px;
    }
    
    h3::after{
        right: 50px;
    }
    
    .container__other h3::before{
        left: 50px;
    }
    
    .container__other h3::after{
        right: 50px;
    }
    
    .container__burguers h3::before{
        left: 50px;
    }
    
    .container__burguers h3::after{
        right: 50px;
    }
    .get__order {
        background-color: #fff;
        position: absolute;
        width: 285px;
        height: 25px;
        padding: 16px;
        border-radius: 4px 4px 0px 0px;
        bottom: 0;
        left: 10%;
        display: block;
    }

    .content-card {
        padding: 16px;
        min-width: 187px;
    }
    .out-icon {
        right: 7%;
    }

    .detail__cart_order .actions__buttons {
        width: 300px;
        margin-top: 65px;
        margin-left: -210px;
    }

    .detail__cart_order img {
        height: 124px;
    }

    .overlay {
        height: 103vh;
    }

    .detail__cart_order form label {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .checkbox, .radio {
        padding-left: 20px;
    }
    
    .detail__cart_order form {
        padding: 0px 10px 10px;
    }

    .body__form {
        display: block;
        margin-bottom: 0px;
        width: 227px;
    }

    .card__details {
        background-color: transparent;
        margin: auto;
        min-height: 350px;
        width: 318px;
        margin-top: -18px;
        display: block;
    }
}


@media (max-width: 500px) {
    .cart__layout {
        right: 18px;
        width: 50%;
    }

    .logo{
        position: absolute;
        left: 10px;
    }

    .container__header__menu img {
        width: 100px;
    }

    .container__header__banner{
        background: url('../images/banner-movile.svg') no-repeat;
        width: 100%;
        height: 320px;
        background-size: cover;
        background-position: center;
    }
    
    h3::after, h3:before{
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: currentColor;
        top: 0.6em;
        display: block;
    }
    
    h3::before{
        left: 50px;
    }
    
    h3::after{
        right: 50px;
    }
    
    .container__other h3::before{
        left: 50px;
    }
    
    .container__other h3::after{
        right: 50px;
    }
    
    .container__burguers h3::before{
        left: 50px;
    }
    
    .container__burguers h3::after{
        right: 50px;
    }
    .get__order {
        background-color: #fff;
        position: absolute;
        width: 285px;
        height: 25px;
        padding: 16px;
        border-radius: 4px 4px 0px 0px;
        bottom: 0;
        left: 10%;
        display: block;
    }

    .content-card {
        padding: 16px;
        min-width: 187px;
    }
    .out-icon {
        right: 7%;
    }

    .detail__cart_order .actions__buttons {
        width: 300px;
        margin-top: 85px;
        margin-left: -210px;
        margin-bottom: 10px;
    }

    .detail__cart_order img {
        height: 145px;
    }

    .size__section {
        max-width: 30%;
    }
    
    .flavor__section {
        max-width: 70%;
    }

    .overlay {
        height: 103vh;
    }

    .detail__cart_order form label {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .checkbox, .radio {
        padding-left: 20px;
    }
    
    .detail__cart_order form {
        padding: 0px 10px 10px;
    }

    .body__form {
        display: block;
        margin-bottom: 0px;
        width: 227px;
    }

    .card__details {
        background-color: transparent;
        margin: auto;
        min-height: 350px;
        width: 318px;
        margin-top: -18px;
        display: block;
    }
}